/* 
#footer {
  background-color: white;
  color: black;
}
#footer .social-links a:hover {
  color: rgb(6, 70, 159);
  
}
#footer .social-links i {
  color: #47b2e4;
  font-size: 1.1rem;
}
#footer .social-links i:hover {
  color: #47b2e4;
  font-size: 1.3rem;
  color: rgb(6, 70, 159);
}
#footer .social-links a {
  border: 1px dashed #47b2e4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  align-items: center;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#footer .social-links {
  display: flex;
}

#footer .last-footer {
  border-top: 1px dashed #fafafa;
  background-color: #000;
  color: #fff;
}
#footer .first-footer {
  border-bottom: 1px dashed #2e2d2d;
}
#footer .footer-link {
  font-size: 0.9rem;
  text-decoration: none;
}
#footer .contact p {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#footer .contact p i {
  font-size: 20px;
}
#footer .contact p a {
  text-decoration: none;
}
#footer .contact p:hover {
  color: rgb(3, 41, 94);
  transform: translate(10px, 0);
}
#footer .contact p .mail-para {
  display: block;
}
#footer .quick-links p {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#footer .quick-links p i {
  font-size: 16px;
  font-weight: bolder;
  padding-right: 10px;
}
#footer .quick-links p:hover {
  color: rgb(54, 87, 134);
  transform: translate(10px, 0);
}
#footer .contact i:hover {
  color: rgb(6, 70, 159);
}
#footer .quick-links i:hover {
  color: rgb(6, 70, 159);
}
#footer p i {
  color: #47b2e4;
}

@media (max-width: 768px) {
  #footer .first-footer {
    flex-direction: column;
    align-items: center;
  }

  #footer .social-links {
    margin-top: 1rem; 
  }

  #footer .container {
    padding: 0 1rem; 
  }

  #footer .row {
    flex-direction: column; 
    align-items: center; 
  }

  #footer .col-md-5,
  #footer .col-md-3 {
    margin-bottom: 1.5rem; 
    text-align: center; 
  }

  #footer .quick-links p,
  #footer .contact p {
    justify-content: center;
  
  }

  #footer .contact p i,
  #footer .quick-links p i {
    font-size: 18px; 
  }
} */
